*, ::after, ::before {
    box-sizing: border-box;
}

.dashboard-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8em 2em 2em 2em;
    border: solid dimgray 2px;
    width: 350px;
    height: 100vh;
}

.annotation-header {
    font-size: 20px;
}

.frame-box-outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 60px;
    left: 350px;
}

.frame-box-header {
    font-size: 25px;
}

.frame-box-container {
    margin: 20px;
}

.btn {
    margin: 10px 0 10px 0;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    margin: 3em 0 0 0;
}

.video-player {
    width: 300px;
    margin: 2em 0 2em 0;
}

.canvas-container {
    position: relative;
}

.bounding-box {
    position: absolute;
    border: 2px solid;
}

.bounding-box.selected {
    border: 10px solid;
}

.build-predicate {
    display: none;
    border: solid dimgray 2px;
    margin-top: 10px;
    padding: 20px 10px;
}

.anno-block-container {
    border: solid dimgray 2px;
    margin: 10px 0;

}